
input[type=checkbox]:checked + label {
  color: red;
}
input{transform: scale(1.01);}
input:valid { border: 1px solid green;}
input:invalid { border: 1px solid red;}
input:required,
input[aria-required="true"] {border-width: 5px;}
input:optional {border-width: 10px;}
input:out-of-range { background-color: #cc0000;}
input:in-range { background-color:lightgreen;}