.firstletter:first-of-type::first-letter {
  position: relative;
  top: 8px;
  float: left;
  font-size: 3em;
  line-height: 1;
  color: hsl(205, 87%, 50%);
  padding: 0 4px 2px 0;
  font-weight: bold;
}